div.slider__third 
    .slide
        img.slide__img(src="img/sliders/third/first-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/third/first-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/third/first-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/third/first-slide.jpg", alt="Слайд")
    