section.media 
    h3.media__title.title__text Транспортная система видеонаблюдения М2Медиа
    .media__text_block
        p.media__text.block_description 
            | Правовая защита перевозчиков 
        p.media__text.block_description 
            | Онлайн видеонаблюдение за транспортным средством 
        p.media__text.block_description 
            | Обеспечение безопасности пассажирских перевозок