section.tahograph
    .tahograph__img
        img(src="img/MaskGroup.jpg", alt="Картинка")
    .tahograph__text
        h3.tahograph__title.title__text Что такое ТАХОГРАФ
        p.tahograph__description.block_description 
            | Тахограф — регистрирующее оборудование, 
            | устанавливаемое на борту транспортных средств, предназначенное для 
            | регистрации режимов движения, труда и отдыха водителей и членов экипажа.
        a.tahograph__link(href="#") Тахограф 