section.slider__second
    .slide
        img.slide__img(src="img/sliders/second/first-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/second/second-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/second/third-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/second/first-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/second/second-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/second/third-slide.jpg", alt="Слайд")