.tahograph {
  position: relative;
  max-height: 760px;
  display: flex;
  padding-right: 80px;
  justify-content: space-between;
  align-items: center;
  @include css-lock(30, 150, 375, 1440, gap, px);
  @include css-lock(50, 160, 375, 1440, margin-bottom, px);

  @include media('<=tabletSmall') {
    padding-right: 0;
  }

  .tahograph__img {
    max-width: 50%;
    max-height: 760px;
    z-index: 10;

    @include media('<=tabletSmall') {
      max-width: fit-content;
      filter: brightness(60%);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .tahograph__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    z-index: 20;

    @include media('<=tabletSmall') {
      @include vcenter;
      width: 90%;
    }

    .tahograph__title {
      @include css-lock(10, 100, 375, 1440, margin-bottom, px);
    }
    
    .tahograph__link {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 40px;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: $color-orange;
    }
  }
}
