.tahograph {
  min-height: 760px;
  display: flex;
  padding-right: 80px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  .tahograph__img {
    max-width: 950px;
    max-height: 760px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .tahograph__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 665px;

    .tahograph__title {
      margin-bottom: 108px;
    }

    .tahograph__description {
      line-height: 40px;
    }

    .tahograph__link {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 40px;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: $color-orange;
    }
  }
}
