section.glonas 
    .glonas__text
        h3.glonas__title.title__text ГЛОНАСС сегодня
        p.glonas__description.block_description 
            | Глобальная навигационная спутниковая система 
            | — российская спутниковая система навигации. 
            | Основой системы должны являться 24 спутника, движущихся над поверхностью Земли по 
            | 3 орбитальным траекториям, на высоте 19100 км. 
            | Принцип определения позиции аналогичен американской системе NAVSTAR. 
            | Первый спутник ГЛОНАСС был выведен на орбиту 12 октября 1982 года. 
            | 24 сентября 1993 года система была официально принята в эксплуатацию.
    .glonas__img
        img(src="img/image2.jpg" alt="Картинка")