---
title: ХакАвтоЦетр
bodyClass: ma
---
extends layouts/_main-layout

block content
  include parts/firstslider/_firstslider
  include parts/m2media/_m2media
  include parts/tahograph/_tahograph
  include parts/glonas/_glonas
  include parts/punktTo/_punktTo
  include parts/secondSlider/_secondSlider
  include parts/search/_search
  include parts/thirdslider/_thirdslider
  include parts/life/_life
  include parts/twopic/_twopic


//- block others
  //- Micromodal show button example
  button(data-micromodal-trigger="modal-1") Show modal
  //- Micromodal body example
  include parts/_micromodal-example
