---
title: ХакАвтоЦетр
bodyClass: ma
---
extends layouts/_main-layout

block content
  include parts/firstslider/_firstslider


//- block others
  //- Micromodal show button example
  button(data-micromodal-trigger="modal-1") Show modal
  //- Micromodal body example
  include parts/_micromodal-example
