section.slider__first
    .first__slide
        img(src="img/sliders/first/first-slide.jpg", alt="Слайд")
    .second__slide
        img(src="img/sliders/first/second-slide.jpg", alt="Слайд")
    .third__slide
        img(src="img/sliders/first/third-slide.jpg", alt="Слайд")