section.slider__first
    .first__slide
        img.slide__img(src="img/sliders/first/first-slide.jpg", alt="Слайд")
        .left__text
            h2.slide__text Авторизованная мастерская по установке, ремонту и обслуживанию тахографов.
            p.slide__adress.block_description Республика Хакасия, г. Абакан, ул. Фабричная, д.23
        .right__text 
            .text__block 
                p ХакАвтоЦетр
    .second__slide
        img.slide__img(src="img/sliders/first/second-slide.jpg", alt="Слайд")
        .left__text
            h2.slide__text Авторизованная мастерская по установке, ремонту и обслуживанию тахографов.
            p.slide__adress.block_description Республика Хакасия, г. Абакан, ул. Фабричная, д.23
        .right__text 
            .text__block 
                p ХакАвтоЦетр
    .third__slide
        img.slide__img(src="img/sliders/first/third-slide.jpg", alt="Слайд")
        .left__text
            h2.slide__text Авторизованная мастерская по установке, ремонту и обслуживанию тахографов.
            p.slide__adress.block_description Республика Хакасия, г. Абакан, ул. Фабричная, д.23
        .right__text 
            .text__block 
                p ХакАвтоЦетр