footer.page-footer#contacts
    .upper
        .block 
            p.title ХакАвтоЦетр
            .social
                p Подпишись на нас
                .icons
                    .icon
                        img(src="img/icons/Instagram.svg" alt="Instagram")
                    .icon.union
                        img(src="img/icons/Union.svg" alt="Google")
                    .icon
                        img(src="img/icons/YouTube.svg" alt="YouTube")
        .block 
            ul
                li
                    a(href="#to") Пункт ТО
                li
                    a(href="#tahograph") Тахограф
                li
                    a(href="#glonas") ГЛонасс
                li
                    a(href="#contacts") Контакты
        .block 
            ul
                li
                    p Контакты
                li
                    p Контакты
                li
                    p Контакты
                li
                    p Контакты
        .block 
            ul
                li
                    p Контакты
                li
                    p Контакты
                li
                    p Контакты
                li
                    p Контакты
                li
                    p Контакты
    .bottom 
        p @Все права защищены
        a(href="#" target="_blank") Политика конфиденциальности