header.nav__top 
  a.logo(href="/") ХакАвтоЦетр
  nav
    ul.nav__list
      li.list__item
        a.item__link(href="#to") Пункт то
      li.list__item
        a.item__link(href="#tahograph") Тахограф
      li.list__item
        a.item__link(href="#contacts") Контакты
    .nav__mobile 
      span.mobile__btn
      span.mobile__btn
      span.mobile__btn
      div.mobile__block
        ul.nav__list
          li.list__items
            a.items__link(href="#to") Пункт то
          li.list__items
            a.items__link(href="#tahograph") Тахограф
          li.list__items
            a.items__link(href="#contacts") Контакты

