header.nav__top 
  a.logo(href="/") ХакАвтоЦетр
  nav
    ul.nav__list
      li.list__item
        a.item__link(href="#") Пункт то
      li.list__item
        a.item__link(href="#") Тахограф
      li.list__item
        a.item__link(href="#") Контакты
    .nav__mobile 
      span.mobile__btn
      span.mobile__btn
      span.mobile__btn
      div.mobile__block
        ul.nav__list
          li.list__items
            a.items__link(href="#") Пункт то
          li.list__items
            a.items__link(href="#") Тахограф
          li.list__items
            a.items__link(href="#") Контакты

