//Open Graph data
meta(property="og:title" content="ХакАвтоЦетр")
meta(property="og:type" content="article")
meta(property="og:url" content="http://www.example.com/")
meta(property="og:image" content="http://example.com/image.jpg")
meta(property="og:description" content="Description Here" )
meta(property="og:site_name" content="Site Name, i.e. Moz")
meta(property="fb:admins" content="Facebook numeric ID")
