section.punktTo 
    img(src="img/image3.jpg", alt="Картинка")
    .punktTo__text
        h3.punktTo__title.title__text Пункт технического осмотра
        p.punktTo__description.block_description 
        | У нас вы сможете проверить техническое состояние 
        | любого вида автотранспорта с применением самого современного оборудования.
        a.punktTo__link.btn(href="#") Пункт ТО 