section.search 
    h3.search__title Исследуйте так, как вам нравится
    p.search__text 
        | Наша компания обладает клеймом,
        | позволяющим проводить калибровку и
        | проверять стройства, не только Российского,
        | но и Европейского образца.
