section.life 
    h3.life__title.title__text живи так, как мечтаешь, исследуй столько, сколько захочешь
    .life__text_block
        p.life__text.block_description 
            | У нас есть обязательная лицензия ФСБ России
            | №1834Н, разрешающая производить
            | обслуживание криптографических средств.
    .back__life.back__text 
        span ХАКАВТО